<span>Welcome {{title}}</span>
<img *ngIf='false' [src]='imageurl'/>
<button class="btn" (click)='toggleForgot()'>change</button>

<app-form *ngIf='false'></app-form>
<div *ngFor='let person of people'>
    <app-person [name]="person.name" [age]="person.age" [gender]="person.gender" (removePerson)='removePersonByName($event)'></app-person>
</div>


<p>{{value}}</p>
<head-banner (myclick)="change($event)"></head-banner>

<button (click)='child.value = child.value+1;'>Add for person</button>
<app-child #child></app-child>

<button (click)='addchild()'>Add for person</button>
<app-child></app-child>

<p>The card</p>
<app-card *ngIf='false'>
    <h2>{{currentDate|date:'dd/MM/yyy HH:mm:ss'}}</h2>
    <h2>{{people|json}}</h2>
</app-card>
<!-- <h2>{{person}}</h2>
<h2>{{1.912119|roundNumb:true:10}}</h2> -->

<app-book [hidden]="forgot"></app-book>